@import url("https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,700;1,700&family=Montserrat:ital,wght@0,900;1,900&family=Nunito:wght@800&family=Pacifico&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  background: #000;
}
